<%= form_for @user, url: employee_path(@user), html: { method: :put } do |form| %>

  <%= form.select :role,
                  [
                    ['Inactive', 'inactive'],
                    ['Admin', 'admin'],
                    ['Inspector', 'inspector'],
                    ['Security guard', 'guard'],
                    ['Janitor', 'janitor'],
                    ['Doctor', 'doctor'],
                    ['Nurse', 'nurse'],
                    ['Office', 'office'],
                    ['Technic', 'technic']
                  ], {}, {class: "form-control form-select mb-3"} %>

  <div class="actions">
    <%= form.submit "Update role", class: "btn btn-outline-secondary text-dark" %>
  </div>
<% end %>
