<div class="card">
  <h3 class="card-header">Edit incident report</h3>
  <div class="card-body">
    <%= render 'form', incident_report: @incident_report %>
    <br/>
    <%= link_to 'Back', incident_reports_path, class: "btn btn-outline-secondary text-dark" %>
    |
    <%= link_to 'Show', @incident_report, class: "btn btn-outline-secondary text-dark" %>
  </div>
</div>