<div class="card">
  <h3 class="card-header">New building</h3>
  <div class="card-body">
    <%= render 'form', building: @building %>
    <br/>
    <%= link_to 'Back', buildings_path, class: "btn btn-outline-secondary text-dark" %>
  </div>
</div>