<div class="card">
  <h3 class="card-header">New floor in Building <%= @building.name  %></h3>
  <div class="card-body">
    <%= render 'form', floor: @floor %>
    <br/>
    <%= link_to 'Back', building_floors_path, class: "btn btn-outline-secondary text-dark" %>
  </div>
</div>