<div class="card">
  <h3 class="card-header">Edit room</h3>
  <div class="card-body">
    <%= render 'form', room: @room %><br/>
    <%= link_to 'Back', building_floor_ward_rooms_path, class: "btn btn-outline-secondary text-dark" %>
    |
    <%= link_to 'Show', building_floor_ward_room_path(@room), class: "btn btn-outline-secondary text-dark" %>
  </div>
</div>