<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Ward:</strong>
  <%= @ward.name %>
</p>

<%= link_to 'Edit', edit_building_floor_ward_room_path(@room) %> |
<%= link_to 'Back', building_floor_ward_rooms_path %>
