<div class="card">
  <h3 class="card-header">Complete request</h3>
  <div class="card-body">
    <%= render 'cleaning_request_form', cleaning_request: @cleaning_request %>
  </div>
</div>
<%= link_to 'Back', inspections_path %>
