<div class="card">
  <h3 class="card-header">Edit post</h3>
  <div class="card-body">
    <%= render 'form', post: @post %>
    <br/>
    <%= link_to 'Back', posts_path, class: "btn btn-outline-secondary text-dark" %>
    |
    <%= link_to 'Show', post_path(@post), class: "btn btn-outline-secondary text-dark" %>
  </div>
</div>