<div class="card">
  <h3 class="card-header">Edit Inspection</h3>
  <div class="card-body">
    <%= render 'form', inspection: @inspection %>
  </div>
</div>
<%= link_to 'Show', @inspection %> |
<%= link_to 'Back', inspections_path %>
