<div class="card">
  <h3 class="card-header">Execute Inspection</h3>
  <div class="card-body">
    <%= render 'inspector_form', inspection: @inspection %>
  </div>
</div>
<%= link_to 'Back', inspections_path %>
