<div class="card">
  <h3 class="card-header">Review demand report</h3>
  <div class="card-body">
    <%= render 'review_form', demand_report: @demand_report %>
    <br/>
    <%= link_to 'Back', demand_reports_path, class: "btn btn-outline-secondary text-dark" %>
  </div>
</div>